<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BASE_URL" value="https://www.googleapis.com/customsearch/v1?key={KEY}&amp;cx={SEARCH_ENGINE_ID}&amp;q={QUERY}" />
    <add key="API_KEY" value="" />
    <add key="SEARCH_ENGINE_ID" value="" />

    <add key="BING_BASE_URL" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={QUERY}" />
    <add key="BING_API_KEY" value="" />
  </appSettings>
</configuration>